body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.error {
  color: red;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

#modalContent {
  background-color: white;
  padding: 20px;
  margin: 100px auto;
  width: 300px;
  border-radius: 5px;
  text-align: center;
}
